[submodule "pedersen-fast"]
	path = pedersen-fast
	url = https://github.com/l2beat/pedersen-fast.git
[submodule "blockchain_ZKPs"]
	path = blockchain_ZKPs
	url = https://github.com/badblood8/blockchain_ZKPs.git
[submodule "circom-ecdsa"]
	path = circom-ecdsa
	url = https://github.com/0xPARC/circom-ecdsa.git
[submodule "circom-rsa-verify"]
	path = circom-rsa-verify
	url = https://github.com/zkp-application/circom-rsa-verify.git
