[submodule "ed25519-circom"]
	path = ed25519-circom
	url = https://github.com/hanzeG/ed25519-circom.git
[submodule "circom-ecdsa"]
	path = circom-ecdsa
	url = https://github.com/hanzeG/circom-ecdsa.git
[submodule "sha512"]
	path = sha512
	url = https://github.com/hanzeG/sha512.git
[submodule "hedera-services"]
	path = hedera-services
	url = https://github.com/hanzeG/hedera-services.git
[submodule "rollupnc_tutorial"]
	path = RollupNC_tutorial
	url = https://github.com/hanzeG/zkrollup.git
