[submodule "ed25519-circom"]
	path = ed25519-circom
	url = https://github.com/Electron-Labs/ed25519-circom.git
[submodule "circom-ecdsa"]
	path = circom-ecdsa
	url = https://github.com/0xPARC/circom-ecdsa.git
[submodule "sha512"]
	path = sha512
	url = https://github.com/Electron-Labs/sha512.git
[submodule "hedera-services"]
	path = hedera-services
	url = https://github.com/hashgraph/hedera-services.git
[submodule "RollupNC_tutorial"]
	path = RollupNC_tutorial
	url = https://github.com/rollupnc/RollupNC_tutorial.git
